.page-header-container {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 20px 0 0 0;

  .page-header {
    color: $text-color;
    &:hover {
      text-decoration: none;
    }
  }

  .page-header-title {
    margin-bottom: -4px;
  }

  .page-header-slogan {
    font-style: italic;
    font-size: small;
  }
}
